body {
    width: 100%;
}
body.landingpage { 
  background-image: url("/Smiling_into_computer_edited.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-position: center 0px
}
body.FAQ { 
  background-image: url("/Studying_FAQ_Background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-position: center 0px
}
body.about { 
    padding-top: 0px; 
}
@media screen and (max-width: 768px) {
    body { padding-top: 20px; }
    body.landingpage { background-position: 80% 0px}
}
}
@media (min-width: 768px){
    header.FAQ {
        background-image: url("/Studying_FAQ_Background.jpg");
        color: #000000;
        background-size: cover;
        background-repeat: no-repeat;
    }
header.less-whitespace .header-content {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    }
}
header.less-whitespace .header-content {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
}
.bg-primary {
    background-color: white
        color: #000000
        
}
header.time-line {
    padding-top: 0%;
    color: #000000;
    min-height: 45%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline-block;
}
.service-box {
    max-width: 100%
}
/* navbar */
.navbar-inverse {
    background-color: #800000;
    border-color: #E7E7E7;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-default .navbar-nav > li > a {
   color: #000000; 
    }
.navbar-default .navbar-nav > li > a:hover {
    color: #B6B6B4;
}
.container {
    width: 100%;
}
.navbar-default .navbar-header .navbar-brand >li > a:hover{
    color: #B6B6B4;
}
.site-wrapper-inner {
    background-size: cover
    background: rgba(256, 256, 256, 0.25); /* color with an alpha transparency */
    height: 100%;
}

.cover {
    padding-left: 15px;
    padding-right: 15px;
    font-size: larger
}
.cover-heading {
    font-size: 60px
}
header.about {
    background-image: url("/Media_Lab_Edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80%
}
header.about .header-content {
    padding-top: 10%
}
header.program {
    background-image: url("/pigeon_sun_edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80%
}
header.apply {
    background-image:url("/Thinking_in_window_tilted_edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80%
}
header.FAQ {
    background-image: url("/Studying_FAQ_Background.jpg");
    color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80%
}
header.time-line .header-content .header-content-inner p {
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    margin-bottom: 50px;
}
hr {
    border-color: #000000;
    border-width: 3px;
    max-width: 50px;
}
.list { 
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: left;
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
header.apply .header-content .header-content-inner p {
    font-weight: 300;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}
header.about .header-content .header-content-inner p {
    font-weight: 300;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
header .header-content .header-content-inner .light p{
    color: white; 
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 50px;
}
section {
    padding: 0px 0px;
}
.navbar-default .navbar-header .navbar-brand {
    color: #000000;
}
.mastfoot {
    padding-left: 15px;
    padding-right: 15px;
}
.blurb {
    padding-left: 15px;
    paddingright: 15px;
    text-color: #000000;
}
a.class1 {
    text-decoration: none;
    color: #000000;
}
a.class1:hover {
    text-decoration: underline;
    color: #B6B6B4;
}
a.FAQ {
    text-decoration: none;
    color: #000000;
}
a.FAQ:hover {
    text-decoration: none;
    color: #B6B6B4;
}
a.FAQ2 {
    text-decoration: none;
    color: #646D7E;
}
a.FAQ2:hover {
    text-decoration: none;
    color: #B6B6B4;
}
a.class2 {
    color: #368BC1;
    text-decoration: none;
}
class2:hover {
    text-decoration: none;
}
a.class3 {
    color: #368BC1;
    padding: 14px 25px;
    text-align: left; 
    text-decoration: underline;
    display: inline-block;
}
a:hover,
a:focus {
  color: #B6B6B4;
}
a.class3:hover {
    color: #368BC1;
}
a.class4 {    
    color: #000000;
    background-color: #B6B6B4
    padding: 14px 25px;
    text-align: left; 
    text-decoration: underline;
    display: inline-block;
}
a:hover {
    color: #368BC1;
}
h1 {
    font-size: 60px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2.FAQ {
    margin-top:-55px;
    padding-top:55px;  
    padding-bottom: 25px;
    padding-left: 50px;
    font-size: 25px;
}
h2.FAQ2 {
    margin-top:-55px;
    padding-top:55px;  
    color: #646D7E;
}
@media (min-width: 768px) {
    h2.FAQ {
    margin-top:-100px;
    padding-top:100px;       
    }    
    h2.FAQ2 {
    margin-top:-100px;
    padding-top:100px;       
    }
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}
p.QA {
    padding-bottom: 30px;
    margin-top:-55px;
    padding-top:55px;  
    padding-left: 50px;
    display: none;
}
.box_textshadow {
     text-shadow: 1px 1px 1px #ccc; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}
sp { font-size: 1em; line-height:1.2em; color:#000000;}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
section.time-line {
  position: relative;
  width: 100%;
  background-position: center;
  text-align: center;
  color: white;
  text-color: #000000;
}
section.time-line .header-content {
  position: relative;
  text-align: justify;
  padding: 100px 15px 100px;
  width: 100%;
    color: #000000;
}
section.time-line .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: #000000;
}
section.time-line .header-content .header-content-inner hr {
  margin: 30px auto;
}
section.time-line .header-content .header-content-inner p {
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  section.time-line {
    min-height: 100%;
  }
  section.time-line .header-content {
    position: absolute;
    top: 0%;
      /* This was causing the overlap of How it works and Text.
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
      */
    padding: 0 50px;
  }
  section.time-line .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  section.time-line .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  section.time-line .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.relative{position:relative; width:100%;}
.absolute-text{position:absolute; bottom:0; font-size:24px; font-family:"vedana"; font-weight: bold; background:rgba(251,251,251,0.5);
padding:10px 20px; width:100%; text-align:left;}
.absolute-nav-bar{position:absolute; top:0; font-size:24px; font-family:'Helvetica', 'Arial', 'Sans-Serif'; background:#000000; padding:30px 40px; width:100%; text-align:right;}
.absolute-text a{font-size:25px; color:#000000;}
.absolute-nav-bar a{font-size:20px; color#000000;}
