<!DOCTYPE html>
	<html lang="en">
		<head>
      <meta  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/carousel.css" rel="stylesheet">
		</head>
		<body style="background-color:#B6B6B4">

			<nav>
	    		<ul>
	        		<li><a href="/" class="class2">Home</a></li>
		        	<li><a href="/about" class="class2">About Us</a></li>
				<li><a href="/people" class="class2">People</a></li>
				<li><a href="/program" class="class2">Program</a></li>
				<li><a href="/contact_us" class="class2">Contact Us</a></li>
				<li><a href="/FAQ" class="class2">FAQ</a></li>
				<li><a href="/apply" class="class3">Apply</a></li>

	    		</ul>
			</nav>
			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li><a href="mailto:refugees@media.mit.edu" class="class2">email</a></li>
	        		<li><a href="https://www.media.mit.edu/projects/refugee-learning-accelerator/overview/" class="class2">Project</a></li>
				</ul>
			</footer>
			   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
		</body>
	</html>
