<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content"IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content>
			<meta name="author" content>
			<link rel="icon" href="../../favicpon.ico">
			<title>Refugee Learning Accelerator -MIT Media Lab</title>
			<link href="../../dist/css/bootsrap.min.css" rel="stylesheet">
			<link href="../../assests/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
			<script src="../../assests/js/ie-emulation-modes-warning.js"></script>
			<link href="carousel.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="/css/bootstrap.min.css" rel="stylesheet">
      			<link href="/css/carousel.css" rel="stylesheet">
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/bootstrap.js"></script>
			<script src="/js/npm.js"</script>
			<script type="text/javascript">$(document).ready(function() {$('dropdown-toggle').dropdown()});</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
<body class="landingpage">
			<div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="cover-container">
		<div class="navbar-wrapper">
				<div class="container">
					<nav class="navbar navbar-inverse navbar-static-top">
						<div class="container">
    							<div class="navbar-header">
      								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span>
        								<span class="icon-bar"></span>
        								<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="https://www.media.mit.edu/">
									<img alt="Media Lab" src="Refugee-Learning-Accelerator.github.io/Mit_medialab_logo.png" height="20px" width="40px">
								</a>
								<a class="navbar-brand" href="/">Refugee Learning Accelerator</a>
							</div>
							<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
								<ul class="nav navbar-nav">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/about">About Us</a></li>
									<li><a href="/program">Program</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="/people/team">Media Lab Team</a></li>
											<li><a href="/people/advisors">Advisors</a></li>
											<li><a href="/people/mentors">Mentors</a></li>
										</ul>
									</li>
									<li><a href="/FAQ">FAQ</a></li>
									<li><a href="/contact_us">Contact</a></li>
									<li><a href="/apply" class="class3">Apply</a></li>
									</div><!-- /.navbar-collapse -->
							</div> <!-- /.container-fluid -->
							</nav>
						</div>
				</div>
			</div>

          <div class="inner cover">
            <h1 class="cover-heading">Refugee Learning Accelerator</h1>
            <p class="lead">We support engineers and computer scientists from the Middle East to create technology for refugee learners.</p>
		  <p class="lead">We provide training, mentorship and funding to teams through a six-month accelerator program.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>The Refugee Learning Accelerator is part of <a href="https://www.media.mit.edu/projects/refugee-learning-accelerator/overview/">the Learning Initiative in the MIT Media Lab.</a>
            </div>
          </div>

        </div>

      </div>

    </div>
</body>
</html>
